@import './base.css';

#app {
    margin: 0 auto;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.page{
    margin-top: 20px;
}

.page__tilte{
    color:var(--main-blue-color);
    text-align: center;
    text-transform: uppercase;
}

.buttons{
    display: flex;
    flex-direction: column;
    gap: 10px;
}