@import './base.css';

#app {
    margin: 0 auto;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.page{
    margin: 0 auto;
    padding: 20px 0;
}

.page__tilte{
    color:var(--main-blue-color);
    text-align: center;
    text-transform: uppercase;
}

.buttons{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product-item{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
    background: #FFFFFF;
    border-radius: 10px;
    padding: 20px;
    max-width: 300px;
    width:100%;
}

.product-name{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.product-info{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.error{
    color: var(--main-red-color);
}

.banner-title__message {
    font-size: 30px;
}

.banner-description__message{
    font-size: 20px;
}